<h1>Welcome to Zackify</h1>
<p>A new music reviewing web app that allows browsing reviews, creating, editing and saving new reviews, creating and managing playlists, sharing playlists with other users and commenting public playlists</p>
<ul *ngIf="songs">
        <li *ngFor="let s of songs; let i =index">
            <div *ngIf = "i<10">
          <p class="title"><span (click) = "infoClick(s)"> {{s.title}}</span></p>
        </div>
        </li>
      </ul>
      <h2>Song Infomation</h2>
      <p>{{info.artist}}<br>{{info.album}}<br>{{info.genre}}<br>{{info.year}}<br>{{info.avgRating}}<br>{{info.numOfReviews}}</p>
List of songs

<div class="play-container">
    <p>Search songs based on keywords<input type="text"><button><a href="#" routerLink="/notLog">Search</a></button></p>
</div>
Keywords are matched with all attributes of the item (see ID3v1 below).
Ability to view all information on a song by clicking or expanding (shows all attributes, most recent review, the number of reviews and the average rating.
<h1>Songs</h1>


