<h1>Welcome to Zackify</h1>
<p>A new music reviewing web app that allows browsing reviews, creating, editing and saving new reviews, creating and managing playlists, sharing playlists with other users and commenting public playlists</p>
<ul *ngIf="songs">
  <!-- displays less than ten songs -->
        <li *ngFor="let s of songs; let i =index">
            <div *ngIf = "i<12">
          <p class="title"><span (click) = "infoClick(s)"> {{s.title}}</span></p>
        </div>
        </li>
      </ul>
      <h2>Song Infomation</h2>
      <!-- displays the infomation based on which song the user selects -->
      <p>Artist: {{info.artist}}<br>
        Album: {{info.album}}<br>
        Genre: {{info.genre}}<br>
        Year: {{info.year}}<br>
        Most Recent Review: {{info.recentReview}}<br>
        Average Rating: {{info.avgRating}}<br>
        Total Number of Reviews: {{info.numOfReviews}}</p>


<div class="play-container">
    <p>Search songs based on keywords Search</p>
</div>


<p class="title"><span (click) = "dmca()"> DMCA</span></p>
<p *ngIf ="dm">This website saves your password and email in a database. Passwords on encrypted and you won't recieve promotional emails.</p>