<h1>Once logged in or registered you can add a song or review</h1>
<h1>Login!</h1>

    <form [formGroup] = "logform" (ngSubmit) = "log()">
    <p>Email<input type="text" formControlName="email" required></p>
    <p>Password<input type="text" formControlName="password" required></p>
    <input type = "submit" value="Submit">
    </form>


<h1>Register</h1>
<form [formGroup] = "regform" (ngSubmit) = "reg()">
        <p>Name<input type="text" formControlName="name" required></p>
        <p>Email<input type="text" formControlName="email" required></p>
        <p>Password<input type="text" formControlName="password" required></p>
        <input type = "submit" value="Submit">
        </form>

<div *ngIf="confirmEmail">
        <h1>Confirm email</h1>
        <p class="con"><span (click) = "confirmed()"> /link</span></p>
        <div *ngIf="link">
                <p>Email has been validated</p>
        </div>
</div>