<h1>Login!</h1>
<div class="play-container">
    <p>Email<input type="text"></p>
</div>
<div class="play-container">
    <p>Password<input type="text"><button><a href="#" routerLink="/">Submit</a></button></p>
</div>
<h1>Register</h1>
<div class="play-container">
    <p>Name<input type="text"></p>
</div>
<div class="play-container">
    <p>Email<input type="email"></p>
</div>
<div class="play-container">
    <p>Password<input type="text"><button><a href="#" routerLink="/">Submit</a></button></p>
</div>