<h1>Login!</h1>

    <form [formGroup] = "logform" (ngSubmit) = "log()">
    <p>Email<input type="text" formControlName="email" required></p>
    <p>Password<input type="text" formControlName="password" required></p>
    <input type = "submit" value="Submit">
    </form>


<h1>Register</h1>
<form [formGroup] = "regform" (ngSubmit) = "reg()">
        <p>Name<input type="text" formControlName="name" required></p>
        <p>Email<input type="text" formControlName="email" required></p>
        <p>Password<input type="text" formControlName="password" required></p>
        <input type = "submit" value="Submit">
        </form>