<h1>Songs</h1>

<ul *ngIf="songs">
  <li *ngFor="let s of songs">
    <p class="title">{{ s.title }}</p>
    <p class="artist">{{ s.artist }}</p>
    <p class="album" >{{s.album}}</p>
    <p class="genre">{{ s.genre }}</p>
    <p class="year">{{ s.year }}</p>
    <p class="recentReview">{{ s.recentReview }}</p>
    <p class="avgRating" >{{s.avgRating}}</p>
    <p class="numOfReviews" >{{s.numOfReviews}}</p>
  </li>
</ul>

<h1>Add Review</h1>
<ul *ngIf="songs">
        <li *ngFor="let s of songs">
          <!-- <input type = "button" class="title" onclick="alert('hello')" value = "{{ s.title }}"> -->
          <p class="rev"><span (click) = "revClick(s)"> {{s.title}}</span></p>
        </li>
        </ul>
<h1>Review</h1>
<div *ngIf="s">
<form [formGroup] = "addReviewForm" (ngSubmit) = "addReview()">
        <p>Comment<input type="text" formControlName="comment" required></p>
        <p>Rating<input type="Number" max = 5 formControlName="rating"></p>
        <input type = "submit" value="Submit">
        </form>
    </div>