<h1>Songs</h1>

<ul *ngIf="songs">
  <li *ngFor="let s of songs">
    <p class="title">{{ s.title }}</p>
    <p class="artist">{{ s.artist }}</p>
    <p class="album" >{{s.album}}</p>
    <p class="genre">{{ s.genre }}</p>
    <p class="year">{{ s.year }}</p>
    <p class="recentReview">{{ s.recentReview }}</p>
    <p class="avgRating" >{{s.avgRating}}</p>
    <p class="numOfReviews" >{{s.numOfReviews}}</p>
    <p class="reviews"><span (click) = "getReviews(s)"> Get all reviews</span></p>
    <ul *ngIf="songs">
        <li *ngFor="let r of matchingReviews">
            <p class="name">{{ r.name}}</p>
            <p class="comment">{{ r.comment}}</p>
            <p class="rating" >{{r.rating}</p>
        </li>
    </ul>
  </li>
</ul>

